.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-header {
    background-color: #ffcd34;
    padding: 20px 0px 28px;
}

.page-header:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 14px;
    width: 100%;
    background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
    background-size: 35px 14px;
}

.logo {
    width: 30%;
    text-decoration: none;
    color: #000;
}

.logo-brand {
    font-size: 23px;
    margin-left: 5px;
}

.logo-brand:before {
    content: '';
    width: 47px;
    height: 36px;
    background-image: url(../img/icons/logo_icon.png);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    right: 7px;
}

.page-nav {
    text-align: right;
}

.page-nav ul {
    font-size: 0;
}

.page-nav li {
    font-size: 14px;
    display: inline-block;
    margin-right: 40px;
}

.page-nav a {
    padding: 5px 7px;
    text-decoration: none;
    color: #000;
}

.page-nav a:hover {
    background-color: yellow;
}

.promo {
    margin: 0 auto;
    background-image: url("http://demo.epixx.ru/sp24-3/img/bg/bg_mainpage.jpg");
    color: white;
    text-align: center;
}

.promo-slogan {
    font-size: 40px;
    font-weight: bold;
    margin-top: 60px;
    text-transform: uppercase;
    display: block;
}

.promo-title {
    display: block;
    margin: 30px;
    font-size: 20px;
}

.promo-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid #ffcd34;
    margin-bottom: 60px;
    font-weight: bold;
    padding: 7px 75px 7px 12px;
}

.consult {
    background-color: gray;
}

.consult-title {
    margin: 20px;
    font-size: 24px;
    color: #ffcd34;
}

.consult-input-text {
    border: 2px solid #ffcd34;
    padding: 7px 75px 7px 12px;
    margin: 5px;
}

.consult-input-date {
    border: 2px solid #ffcd34;
    padding: 7px 75px 7px 12px;
    margin: 5px;
}

.consult-input-submit {
    border: 2px solid #ffcd34;
    padding: 7px 75px 7px 12px;
    margin: 5px;
}
